# Dart & Flutter
.dart_tool/
.packages
.pub-cache/
.buildlog/
build/
pubspec.lock

# Generated docs
doc/api/

# dotenv environment variables
.env*

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/.dart_tool/
web/manifest.json

# JS transpilation (from dart2js)
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# IDEs
.vscode/
.idea/

# Editor swap files
*~
*.swp
*.swo
